@{ ViewBag.Title = "About"; }
<h2>@ViewBag.Title.</h2>

<p>My User Managment Application.</p>

<p class="lead">
    The application implements a user management system that will be used to control menu
    options that a user sees based on the user group the user belongs to.
</p>
